/*******************************************************************************
Theme Styles
*******************************************************************************/
body {-webkit-font-smoothing: antialiased; padding-top: 20px; padding-bottom: 20px;  font-size:16px}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {padding-right: 15px; padding-left: 15px;}

/* Custom page header */
.header h3 {padding-bottom: 19px; margin-top: 0; margin-bottom: 0; line-height: 40px;}

/* Custom page footer */
.footer {padding-top: 19px; color: #777; border-top: 1px solid #e5e5e5;}

/* Customize container */
@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}
.container-narrow > hr { margin: 30px 0;}

/* Main marketing message and sign up button */
.jumbotron {text-align: center;}
.jumbotron .btn {padding: 14px 24px;font-size: 21px;}

/* Supporting marketing content */
.marketing {margin: 40px 0;}
.marketing p + h4 {margin-top: 28px;}
.marketing p a {font-weight: bold}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {padding-right: 0; padding-left: 0;}
  .jumbotron {border-bottom: 0;}
}

.jumbotron, .gray-mix{
	padding:10px; 
	color:#000; text-shadow: #dfdfdf 0.1em 0.1em 0.2em; font-family: 'Ropa Sans', 'sans-serif';
	background: -moz-linear-gradient(top,  rgba(0,0,0,0.65) 0%, rgba(0,0,0,0) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.65)), color-stop(100%,rgba(0,0,0,0)));
	background: -webkit-linear-gradient(top,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%);
	background: -o-linear-gradient(top,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%);
	background: -ms-linear-gradient(top,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%);
	background: linear-gradient(to bottom,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=0 );

}





